.projectTabale td img{
    max-width: 100%;
    max-height: 100%;
}

a:hover{
    color: red;
}

body{
    background-image: url('image/background.jpg');
    background-size: cover;
    padding-top: 5%;
}

.status{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.personal{
    width:70%; 
    margin-left:auto;
    margin-right:auto;
}

.schoolProject{
    text-align: center;
    max-width:70%;
    margin-left:auto;
    margin-right:auto;
}

.schoolProject table{
    width: 70%;
}
.education a{
    text-decoration: none;
}

.education{
    height: 30%;
    width:70%; 
    margin-left:auto;
    margin-right:auto;
}

.education img{
    float: right;
    max-width: 40%;
    max-height: 40%;
}

@media
only screen 
and (max-width: 760px), (min-device-width: 768px) 
and (max-device-width: 1024px)  {

    .status{
        width: 100%;
    }
    
    .personal{
        width:100%; 
        margin-left:auto;
        margin-right:auto;
    }
    
    .schoolProject{
        text-align: center;
        max-width:100%;
        margin-left:auto;
        margin-right:auto;
    }
    
    .schoolProject table{
        width: 100%;
    }
    
    .education{
        height: 30%;
        width:100%; 
        margin-left:auto;
        margin-right:auto;
    }

    .projectTabale{
        table-layout: fixed;
        max-width: 100%;
        max-height: 100%;
    }

}