.projectTabale td img{
    max-width: 50%;
    max-height: 100%;
}

a:hover{
    color: red;
}

body{
    background-image: url('image/background.jpg');
    background-size: cover;
    padding-top: 5%;
}

.schoolProject table{
    width:70%; 
    margin-left:auto;
    margin-right:auto;
}

.status{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.personal{
    width:70%; 
    margin-left:auto;
    margin-right:auto;
}

.schoolProject{
    text-align: center;
}

.education a{
    text-decoration: none;
}

.education{
    height: 30%;
    width:70%; 
    margin-left:auto;
    margin-right:auto;
}

.education img{
    float: right;
    max-width: 40%;
    max-height: 40%;
}
